<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.satellite_finder_app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="SatViewer"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".SatelliteTypesActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TlesActivity"
            android:parentActivityName=".SatelliteTypesActivity"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SatelliteTypesActivity" />
        </activity>
        <activity android:name=".SatelliteFinderActivity"
            android:parentActivityName=".SatelliteFinderActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TlesActivity" />
        </activity>
    </application>

</manifest>